beautifulsoup4==4.12.3
colorama==0.4.6
requests==2.32.2
serpapi==2.13.0
google-search-results==2.2.0
httpx==0.24.0
tenacity==8.2.2
requests_html==0.10.0
aiohttp==3.10.2
urllib3==1.26.19
asyncio==3.4.3
lxml_html_clean==0.1.4
html_clean==0.1.1
anyio>=4.4.0
zipp>=3.19.1
validators==0.21.0
tqdm==4.66.3
tqdm-asyncio==0.0.6
ipwhois==1.0.0
fake-useragent==1.1.2
PyQt6==6.5.0
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
